.border-top
    .container
        footer.pt-4.my-md-5.pt-md-2
                .row
                    .col-12.col-md
                        img.mb-2(src='img/logo500px.png', alt='', width='200', height='50')
                        small.d-block.mb-3.text-muted © 2020. All Rights Reserved.
                    .col-6.col-md
                        h5 Features
                        ul.list-unstyled.text-small
                            li
                            a.text-muted(href='/about') Cool stuff
                            li
                            a.text-muted(href='/about') Random feature
                            li
                            a.text-muted(href='/about') Team feature
                            li
                            a.text-muted(href='/about') Stuff for developers
                            li
                            a.text-muted(href='/about') Another one
                            li
                            a.text-muted(href='/about') Last time
                    .col-6.col-md
                        h5 Resources
                        ul.list-unstyled.text-small
                            li
                            a.text-muted(href='/about') Resource
                            li
                            a.text-muted(href='/about') Resource name
                            li
                            a.text-muted(href='/about') Another resource
                            li
                            a.text-muted(href='/about') Final resource
                    .col-6.col-md
                        h5 About
                        ul.list-unstyled.text-small
                            li
                            a.text-muted(href='/about') Team
                            li
                            a.text-muted(href='/contact') Locations
                            li
                            a.text-muted(href='#') Privacy
                            li
                            a.text-muted(href='#') Terms