extends layout

block content
 .container.mt-4
  div(class="card mt-5")
    div(class="card-body")
        h1(class="card-title text-center") Add Article
        form(method='POST', action='/blog/articles/add')
            .form-group
                label Title
                input.form-control(name='title', type='text')
            .form-group
                label Article
                textarea.form-control(rows='7', name='body')
            input.btn.btn-primary(type='submit', value='Submit')
