extends layout

block content
  
  div(class="container")
    each article, i in articles
        div(class="card mt-4 mb-4")
          div(class="card-body")
            h5(class="card-title")= article.title
            p(class="card-text")= article.body.substr(0, 110) + "...."
            a(href="/blog/articles/"+article._id class="btn btn-primary") View
            
  include includes/chatbox


                        
            


