extends layout

block content
 .container
  div(class="card col-md-6 offset-md-3 mt-5")
    div(class="card-body")
        h1(class="card-title text-center pb-3") #{title}
        form(method='POST', action='/users/changepassword')
            .form-group
                label Current Password
                input.form-control(name='password', type='password')
            .form-group
                label New Password
                input.form-control(name='password', type='password')
            .form-group
                label Confirm New Password
                input.form-control(name='password', type='password')
            input.btn.btn-primary.btn-block(type='submit', value='Save')