extends layout

block content
 .container
  div(class="card col-md-6 offset-md-3 mt-5")
    div(class="card-body")
        h2(class="card-title text-center mb-5") #{title}
        form(method='POST', action='/users/forgot-password')
            .form-group
                label Your Email Address
                input.form-control(name='email', type='email')
            input.btn.btn-primary.btn-block(type='submit', value='Submit')