extends layout

block content
 .container
  div(class="card col-md-6 offset-md-3 mt-5")
    div(class="card-body")
        h1(class="card-title text-center") Reset Password
        form(method='POST')
            .form-group
                label Password
                input.form-control(name='password', type='password')
            .form-group
                label Confirm Password
                input.form-control(name='confirm', type='password')
            input.btn.btn-primary.btn-block.mt-3(type='submit', value='Submit')