extends ../layout

block content

    div(class="jumbotron bg-primary")
        h1(class="display-4 text-center mb-4 text-white") We Are Creative
    .container.mt-5
        .row
            .col-md-6
                h3 OUR STORY
                p.mt-4 Tigerweb is a premium design agency that focuses on quality, innovation, & speed. We utilized technology to bring results to grow our clients businesses. We pride ourselves in great work ethic, integrity, and end-results. Throughout the years Tigerweb has been able to create stunning, great designs in multiple verticals while allowing our clients to obtain an overall better web presence.
                h3.pt-3 Philosophy
                p Our company philosophy is to create the kind of website that most businesses want: easy to find, stylish and appealing, quick loading, mobile responsive and easy to buy from.
                h3.pt-3 Why Work with us
                p ” We enjoy the finer details of a project, considering every stage of its journey from planning to completion. We work with some amazing clients who are based either locally in Pune or across the Globe, from start-ups to international brands. Our projects not only look great, they use the right tools that work for you and with your success comes ours. We make sure to apply the same level of thought, care and attention to every project as if it were our own.”
            .col-md-6
                img(src='https://webnus.net/themes/easyweb/design/wp-content/uploads/2016/02/cnt-p04.jpg' class='img-fluid')
    div.mt-5
    include ../includes/main-footer
    include ../includes/chatbox