extends ../layout

block content

    .container.mt-4
        div(class="card mt-4")
            h5(class="card-header bg-warning") My Invoice history
            table.table
                thead
                    tr
                    th(scope='col') Invoice #
                    th(scope='col') Invoice Date
                    th(scope='col') Due Date
                    th(scope='col') Total
                    th(scope='col') Status
                tbody
                   